@import url(chrome://global/skin/);

/*
colours for buttons:
 face:            #ebe8d8
 outer-highlight: #fefefe
 inner-highlight: #f0eee1
 inner-shadow:    #aba798
 outer-shadow:    #716f64
*/

#main-panel {
  padding: 8px;
  background: #ebe8d8;
  border: 2px solid;
  -moz-border-top-colors: #f0eee1 #fefefe;
  -moz-border-left-colors: #f0eee1 #fefefe;
  -moz-border-right-colors: #716f64 #aba798;
  -moz-border-bottom-colors: #716f64 #aba798;
}
#game-panel,
#status-panel {
  border: 2px solid;
  -moz-border-top-colors: #aba798 #716f64;
  -moz-border-left-colors: #aba798 #716f64;
  -moz-border-right-colors: #fefefe #f0eee1;
  -moz-border-bottom-colors: #fefefe #f0eee1;
}
#status-panel {
  padding: 4px 6px;
  margin-right: 8px;
}
#mine-counter-0,
#mine-counter-1,
#mine-counter-2,
#timer {
  width: 4ex;
}
.counter-icon {
  list-style-image: url(images.png);
  width: 14px;
  height: 14px;
}



/* new game button */
#new-game-button {
  list-style-image: url(images.png);
  border: 2px solid;
  -moz-border-top-colors: #fefefe #f0eee1;
  -moz-border-left-colors: #fefefe #f0eee1;
  -moz-border-right-colors: #716f64 #aba798;
  -moz-border-bottom-colors: #716f64 #aba798;
  padding: 3px;
}
#new-game-button:active {
  -moz-border-top-colors: #716f64 #aba798;
  -moz-border-left-colors: #716f64 #aba798;
  -moz-border-right-colors: #fefefe #f0eee1;
  -moz-border-bottom-colors: #fefefe #f0eee1;
  padding: 4px 2px 2px 4px;
}
.new-game-button-normal { -moz-image-region: rect(42px 17px 59px 0); }
.new-game-button-won    { -moz-image-region: rect(42px 34px 59px 17px); }
.new-game-button-lost   { -moz-image-region: rect(42px 51px 59px 34px); }



/* kill all <button/> styles */
.tile,
.tile > .button-box,
.tile > * > .button-icon,
.tile > * > .button-text {
  border: none;
  margin: 0;
  padding: 0;
  min-width: 0;
  -moz-appearance: none;
  background: transparent;
}

.tile {
  font-size: 14px;
  overflow: hidden;
}



/* general tile styles */
.tile { list-style-image: url(images.png); }
.button, .revealed { list-style-image: none; }

.cross { -moz-image-region: rect(42px 70px 56px 56px); }
.f1 { -moz-image-region: rect(0 14px 14px 0); }
.f2 { -moz-image-region: rect(0 28px 14px 14px); }
.f3 { -moz-image-region: rect(0 42px 14px 28px); }
.f4 { -moz-image-region: rect(0 56px 14px 42px); }
.f5 { -moz-image-region: rect(0 70px 14px 56px); }
.m1 { -moz-image-region: rect(14px 14px 28px 0); }
.m2 { -moz-image-region: rect(14px 28px 28px 14px); }
.m3 { -moz-image-region: rect(14px 42px 28px 28px); }
.m4 { -moz-image-region: rect(14px 56px 28px 42px); }
.m5 { -moz-image-region: rect(14px 70px 28px 56px); }
.e1 { -moz-image-region: rect(28px 14px 42px 0); }
.e2 { -moz-image-region: rect(28px 28px 42px 14px); }
.e3 { -moz-image-region: rect(28px 42px 42px 28px); }
.e4 { -moz-image-region: rect(28px 56px 42px 42px); }
.e5 { -moz-image-region: rect(28px 70px 42px 56px); }

/* revealed tiles */
.revealed { font-weight: bold; }
.r1 { color: blue; }
.r2 { color: #008400; }
.r3 { color: red; }
.r4 { color: #000084; }
.r5 { color: #840000; }
.r6 { color: #008484; }
.r7 { color: #840084; }



/* square tile styles */
.square {
  width: 18px;
  height: 18px;
}
.square.mine, square.cross, .square.explosion { padding: 2px; }

/* button styling is applied to the .button-box because it does not work#
   when applied direct to .square.button */
.square.button > .button-box,
.square.flag > .button-box {
  width: 14px;
  height: 14px;
  background: #ebe8d8;
  border: 2px solid;
  -moz-border-top-colors: #fefefe #f0eee1;
  -moz-border-left-colors: #fefefe #f0eee1;
  -moz-border-right-colors: #716f64 #aba798;
  -moz-border-bottom-colors: #716f64 #aba798;
}



/* hex tile styles */
.hex {
  width: 22px;
  height: 20px;
  padding: 3px 4px;
}
.hex.revealed { padding: 0; }
.hex.button, .hex.flag { background: url(hex.png); }

/* hex column styles for correct alignment */
#hex-grid > vbox.evencolumn { margin-top: 10px; }
#hex-grid > vbox { margin-left: -5px; }
/* force the left-most column back into the #hex-grid box.
   cannot use padding on #hex-grid because it breaks <box>.boxObject.x etc */
#hex-grid > :first-child { margin-left: 0; }
