@import url(chrome://global/skin/);

#minesweeper-window {
  list-style-image: url(images.png);
  padding: 0;
}

#main-panel {
  background: #c6c6c6;
  border: 2px solid;
  border-color: white #848484 #848484 white;
  padding: 8px;
}
#game-panel,
#top-panel {
  border: 2px solid;
  border-color: #848484 white white #848484;
}
#top-panel {
  padding: 4px 6px;
  margin-bottom: 8px;
}
#mine-counter-0,
#mine-counter-1,
#mine-counter-2,
#timer {
  width: 6ex;
}


/* new game button */
.new-game-button-normal { -moz-image-region: rect(32px  26px 58px     0); }
#new-game-button:active { -moz-image-region: rect(32px  52px 58px  26px); }
.new-game-button-won    { -moz-image-region: rect(32px  78px 58px  52px); }
.new-game-button-lost   { -moz-image-region: rect(32px 104px 58px  78px); }


.tile,
.tile > .button-box,
.tile > * > .button-icon,
.tile > * > .button-text {
  border: none;
  margin: 0;
  padding: 0;
  min-width: 0;
  -moz-appearance: none;
  background: transparent;
}

.revealed {
  list-style-image: none;
  font-weight: bold;
}
.square.revealed {
  width: 16px;
  height: 16px;
}
.hex.revealed {
  width: 18px;
  height: 16px;
}

/* colors */
.t1 { color: blue; }
.t2 { color: #008400; }
.t3 { color: red; }
.t4 { color: #000084; }
.t5 { color: #840000; }
.t6 { color: #008484; }
.t7 { color: #840084; }

/* square images */
.square.button { -moz-image-region: rect(0 16px 16px 0); }
.square.cross  { -moz-image-region: rect(0 32px 16px 16px); }
.square.flag-1 { -moz-image-region: rect(0 48px 16px 32px); }
.square.flag-2 { -moz-image-region: rect(0 64px 16px 48px); }
.square.flag-3 { -moz-image-region: rect(0 80px 16px 64px); }
.square.mine-1 { -moz-image-region: rect(0 96px 16px 80px); }
.square.mine-2 { -moz-image-region: rect(0 112px 16px 96px); }
.square.mine-3 { -moz-image-region: rect(0 128px 16px 112px); }
.square.explosion-1 { -moz-image-region: rect(0 144px 16px 128px); }
.square.explosion-2 { -moz-image-region: rect(0 160px 16px 144px); }
.square.explosion-3 { -moz-image-region: rect(0 176px 16px 160px); }

/* hex images */
.hex.button { -moz-image-region: rect(16px 18px 32px 0); }
.hex.cross  { -moz-image-region: rect(16px 36px 32px 18px); }
.hex.flag-1 { -moz-image-region: rect(16px 54px 32px 36px); }
.hex.flag-2 { -moz-image-region: rect(16px 72px 32px 54px); }
.hex.flag-3 { -moz-image-region: rect(16px 90px 32px 72px); }
.hex.mine-1 { -moz-image-region: rect(16px 108px 32px  90px); }
.hex.mine-2 { -moz-image-region: rect(16px 126px 32px 108px); }
.hex.mine-3 { -moz-image-region: rect(16px 144px 32px 126px); }
.hex.explosion-1 { -moz-image-region: rect(16px 162px 32px 144px); }
.hex.explosion-2 { -moz-image-region: rect(16px 180px 32px 162px); }
.hex.explosion-3 { -moz-image-region: rect(16px 198px 32px 180px); }



/* hex images and column styles for correct alignment */
#hex-grid > vbox[evencolumn] { margin-top: 8px; }
#hex-grid > vbox { margin-left: -4px; }
/* force the left-most column back into the #hex-grid box.
   cannot use padding on #hex-grid because it breaks <box>.boxObject.x etc */
#hex-grid > :first-child { margin-left: 0; }
