@import url(chrome://global/skin/);

/*
colours for buttons:
 face:            #ebe8d8
 outer-highlight: #fefefe
 inner-highlight: #f0eee1
 inner-shadow:    #aba798
 outer-shadow:    #716f64
*/

#main-panel {
  background: #ebe8d8;
  padding-left: 4px;
}

#game-panel {
  padding: 2px;
  border-left: 2px solid;
  -moz-border-left-colors: #f0eee1 #aba798;
}

#msg-pause {
  background: #ebe8d8;
  opacity: 0.85;
  text-align: center;
  font-size: 25px;
  color: black;
  margin: 0;
  padding: 25px 0 0 0;
}

#mine-counter-0,
#mine-counter-1,
#mine-counter-2,
#timer {
  width: 3.5ex;
}
.counter-icon {
  list-style-image: url(images.png);
  width: 14px;
  height: 14px;
}

#new-game-button { list-style-image: url(images.png); }
.new-game-button-normal { -moz-image-region: rect(42px 17px 59px 0); }
.new-game-button-won    { -moz-image-region: rect(42px 34px 59px 17px); }
.new-game-button-lost   { -moz-image-region: rect(42px 51px 59px 34px); }

.faded { opacity: 0.6; }

.f0 { list-style-image: none; }
.f1 { -moz-image-region: rect(0 14px 14px 0); }
.f2 { -moz-image-region: rect(0 28px 14px 14px); }
.f3 { -moz-image-region: rect(0 42px 14px 28px); }
.f4 { -moz-image-region: rect(0 56px 14px 42px); }
.f5 { -moz-image-region: rect(0 70px 14px 56px); }
.f6 { -moz-image-region: rect(0 84px 14px 70px); }
.f7 { -moz-image-region: rect(0 98px 14px 84px); }
