/* * { stroke: black; stroke-width: 4px; fill-rule: evenodd; } */
/* text { stroke: none } */

/* .hex:hover { fill-opacity: 0.1 } */

.shape {
  stroke-width: 1px;
}
.clear .shape {
  stroke: grey;
  fill: lightgrey;
}
.flag .shape {
  stroke: black;
  fill: darkgrey;
}
.mine .shape {
  stroke: black;
  fill: orange;
}
.bang .shape {
  stroke: grey;
  fill: red;
}

.flag text, .clear text {
  fill: currentColor;
}

.hextile text {
  font-size: 70px;
}

.tile text {
  /* have the co-ords of the element refer to the h- and v-centre of the text */
  text-anchor: middle;
  dominant-baseline: middle;
}

.sqrtile text {
  font-size: 30px;
}

.n1 { color: blue; }
.n2 { color: #008400; }
.n3 { color: red; }
.n4 { color: #000084; }
.n5 { color: #840000; }
.n6 { color: #008484; }
.n7 { color: #840084; }

