body {
  font-family: sans-serif;
}


#wrapper {
  border: 0;
  position: fixed;
  top: 0;
  right: 100px;
  bottom: 0;
  left: 0;
}

#gameview {
  /* suppres double-click or shift-click selection on the <svg> game view, because the highlighting looks ridiculous */
  user-select: none;
  -moz-user-select: none;
}


#status-panel {
  position: fixed;
  right: 0;
  width: 100px;
  bottom: 0;
  top: 0;
}

#status-panel input {
  display: block;
  margin: 1em 0;
  width: 80px;
}


#settings-overlay,
#msg-pause {
  display: none;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.5);
}


#settings-overlay form {
  margin: 3em auto 0;
  width: 50%;
  background: #ddd;
  padding: 1.5em;
}

#settings-overlay h6 {
  font-size: 1em;
  margin: 1em 0;
}


#msg-pause {
  text-shadow: black 0 0 5px;
  color: white;
  font-size: 25px;
  display: table-cell;
  vertical-align: middle;
}

#msg-pause > div {
  text-align: center;
  position: relative;
  top: 40%;
}
