@import url(chrome://global/skin/);

/*
colours for buttons:
 face:            #ebe8d8
 outer-highlight: #fefefe
 inner-highlight: #f0eee1
 inner-shadow:    #aba798
 outer-shadow:    #716f64
*/

#main-panel {
  background: #ebe8d8;
  padding-left: 4px;
}

#game-panel {
  padding: 2px;
  border-left: 2px solid;
  -moz-border-left-colors: #f0eee1 #aba798;
}

#mine-counter-0,
#mine-counter-1,
#mine-counter-2,
#timer {
  width: 3.5ex;
}

.faded { opacity: 0.6; }


#msg-pause {
  display: block;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.5);
  text-shadow: black 0 0 5px;
  color: white;
  font-size: 25px;
  display: table-cell;
  vertical-align: middle;
}

#msg-pause > div {
  text-align: center;
  position: relative;
  top: 40%;
}
